/* Write your code here. */
.header {
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  background-size: cover;
  width: 100%;
  min-height: 8vh;
  padding: 0 7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 100%;
}
.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .logo {
    height: 35px;
  }
}

.scoreContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.font {
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
}
@media only screen and (max-width: 767px) {
  .font {
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
  }
}
